# Dependencies
node_modules/
/coverage

# Environment variables
.env
.env.local

# Build output
/dist
/build

# Logs and temporary files
*.log
npm-debug.log*
yarn-error.log
/temp

# IDE-specific files (optional)
.vscode/
.idea/
*.iml
.DS_Store # macOS files
